parameters:
    level: 6
    paths:
        - ../modules/acknowledgements/test/
        - ../modules/media/test/
    excludePaths:
        - ../php/
    bootstrapFiles:
        - ../test/integrationtests/LorisIntegrationTest.class.inc
